h1 {
  background-color: #b3713c;
  color: #f1f1f1;
  font-family: verdana;
  font-size: 24px;
  } 

h2 {
  color: black;
  font-family: verdana;
  font-size: 20px;
  }

hr { 
  display: block;
  border-width: 1px;
  border-color: lightblue;
} 

header {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

footer {
  font-family: serif;
  font-size: 12px;
}

blockquote { 
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 40px;
  margin-right: 40px;
  background-color: #b3713c;
  color: #f1f1f1;
  font-family: verdana;
  font-size: 12px;
  line-height: 190%;
}

table {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 2px;
  font-family: verdana;
}
th {
  border: 1px solid black;
  border-collapse: collapse;
  background-color: #c17e47;
  padding: 2px;
  color: #f1f1f1;
}
td {
  border: 1px solid black;
  border-collapse: collapse;
  background-color: #f1f1f1;
padding: 2px;
}

body {
	line-height: 190%;
	padding-left: 50px;
	font-family: Verdana, Helvetica;
}